---
import { Icon } from 'astro-icon/components';

const {
	variant = 'secondary',
	size = 'default',
	text = Astro.slots.render('default'),
	icon = '',
	class: className = '',
	type,
	...rest
} = Astro.props;

const variants = {
	primary: 'btn-primary',
	secondary: 'btn-secondary',
	outline: 'btn-outline',
	link: 'link'
};

const sizes = {
	default: 'h-12 px-2 py-2',
	sm: 'h-8 rounded-md px-3 text-xs',
	lg: 'h-14 py-4 text-lg rounded-md px-8',
	icon: 'h-9 w-9'
};

console.log(className);
---

{
	type === 'button' || type === 'submit' || type === 'reset' ? (
		/* eslint-disable-next-line */ <button
			type={type}
			class:list={[variants[variant], sizes[size], className, 'space-x-2']}
			{...rest}
		>
			{icon && <Icon name={icon} class='text-xl' />}
			<span>{text}</span>
		</button>
	) : (
		<a class:list={[variants[variant] || '', sizes[size], 'space-x-2']} {...rest}>
			{icon && <Icon name={icon} class={`${className}`} />}
			<span>{text}</span>
		</a>
	)
}
