---
/**
 * * These are alternating side cards with titles, text, and images
 * Recommend using 2 or 3 cards in a row
 */

// components
import FeatureCard from '@components/FeatureCard.astro';
// images
import image2 from '@images/ute.jpg';
import type { ImageMetadata } from 'astro';

interface ServiceItem {
	image: ImageMetadata; // an imported image
	id: string;
	title: string;
	details: string;
}

// data
const serviceData: ServiceItem[] = [
	{
		image: image2,
		id: 'gutter-cleaning',
		title: 'Residential, Commercial and Industrial Gutter Cleaning',
		details: `With a focus on thorough cleaning and meticulous attention to detail, we remove debris, leaves, and blockages to prevent water damage and maintain the integrity of your property's gutter system. Trust Gutter Gladiators for professional gutter cleaning solutions tailored to your specific needs, whether residential, commercial, or industrial.`
	},
	{
		image: image2,
		id: 'vacuum-gutter-cleaning',
		title: 'No mess vacuum gutter cleaning',
		details: `A game-changer in gutter cleaning for Tasmanian home and property owners. This state-of-the-art system ensures a highly efficient and comprehensive cleaning process. It excels in removing leaves, debris, and blockages seamlessly, leaving no residue or mess behind, revolutionising the traditional approach to gutter maintenance.`
	},
	{
		image: image2,
		id: 'solar-panel-cleaning',
		title: 'Solar Panel Cleaning',
		details: `Our expert team specializes in delivering top-notch cleaning solutions tailored for solar panels across Tasmania. Utilizing advanced techniques and eco-friendly practices, we ensure thorough removal of dirt, dust, and debris, enhancing sunlight absorption and energy production. With a commitment to excellence and sustainability, our service not only revitalizes your solar panels but also prolongs their lifespan.`
	}
];
---

<section id='services' class='overflow-hidden bg-white'>
	<div class='container'>
		<div class='mx-auto flex max-w-2xl sm:justify-center'>
			<h2 class='h1'>What we offer</h2>
		</div>
		<div class='mt-10 flex flex-col gap-16 md:mt-16 md:gap-24'>
			{
				serviceData.map((feature, idx) => (
					<FeatureCard
						id={feature.id}
						title={feature.title}
						details={feature.details}
						image={feature.image}
						imageSide={idx % 2 === 0 ? 'right' : 'left'}
						idx={idx}
						fadeEffect={idx % 2 === 0 ? 'fade-left' : 'fade-right'}
						fadeDelay='.2'
					/>
				))
			}
		</div>
	</div>
</section>
