---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import Logo from '@/assets/images/shieldlogo.png';

import Accordion from './Accordion.astro';

interface FooterHeading {
	title: string;
	links: FooterLink[];
}

interface FooterLink {
	title: string;
	href?: string;
	icon?: string;
}

const footerHeadings: FooterHeading[] = [
	{
		title: 'Company',
		links: [
			{ title: 'Home', href: '/' },
			{ title: 'About', href: '#about' },
			{ title: 'Contact', href: '#contact' }
		]
	},
	{
		title: 'Services',
		links: [
			{ title: 'Gutter Cleaning', href: '#gutter-cleaning' },
			{ title: 'Vacuum Gutter Cleaning', href: '#vacuum-gutter-cleaning' },
			{ title: 'Solar Panel Cleaning', href: '#solar-panel-cleaning' }
		]
	},
	{
		title: 'Contact',
		links: [
			{ title: '0400 000 000', href: 'tel:0400000000', icon: 'phone-r' },
			{
				title: 'jackson@guttergladiators.com.au',
				href: 'mailto:jackson@guttergladiators.com.au',
				icon: 'email'
			},
			{ title: 'Devonport, Tas', icon: 'location' }
		]
	}
];
---

<!-- FOOTER -->
<footer class='bg-primary'>
	<div class='mx-auto max-w-7xl px-6 text-gray-900 lg:px-8'>
		<div class='pt-16'>
			<div class='grid items-center gap-4 tab:flex tab:justify-between tab:pb-4'>
				<div class='flex flex-col items-center tab:max-w-xs tab:items-start'>
					<a href='/' aria-label='home' class=''>
						<!-- <Image src={Logo} width={150} alt='logo' /> -->
						<Image src={Logo} alt='Gutter Guardians Logo' class='w-[150px] tab:w-[50px]' />
					</a>
					<p class='mt-6 max-w-md text-center tab:text-start'>
						At Gutter Gladiators, we provide professional solar panel and gutter cleaning on the
						North-West Coast of Tasmania, serving Devonport and Burnie, as well as Ulverstone, Port
						Sorell, and beyond.
					</p>

					<div class='mt-6 flex items-center justify-start gap-2'>
						<a
							href='https://www.facebook.com'
							aria-label='Gutter Gladiators Facebook'
							class='cursor-pointer hover:text-white'
						>
							<Icon name='facebook' class='text-4xl' />
						</a>

						<a
							href='https://www.instagram.com'
							aria-label='Kangas Instagram'
							class='cursor-pointer hover:text-white'
						>
							<Icon name='instagram' class='text-4xl' />
						</a>
					</div>
				</div>

				<nav class='hidden justify-end gap-16 text-gray-900 md:max-w-none tab:flex'>
					{
						footerHeadings.map((heading) => (
							<ul class='flex flex-col   '>
								<li class='mb-4 text-xl font-semibold'>{heading.title}</li>
								{heading.links.map((link) => (
									<li class=' mt-2  items-center  gap-2 text-base *:inline-flex'>
										{link.icon && <Icon name={link.icon} class='text-2xl' />}
										{link.href ? (
											<a class='hover:text-white ' href={link.href}>
												{link.title}
											</a>
										) : (
											link.title
										)}
									</li>
								))}
							</ul>
						))
					}
				</nav>

				<div class='mx-auto mt-2 w-full tab:hidden'>
					{
						(
							<div class='flex w-full flex-col gap-1'>
								{footerHeadings.map((heading) => (
									<Accordion title={heading.title}>
										<ul class='space-y-1 transition-[height]  last:mb-2'>
											{heading.links.map((link) => (
												<li class='text-lg  *:inline-flex'>
													{link.icon && <Icon name={link.icon} class='text-2xl' />}
													{link.href ? (
														<a href={link.href}>{link.title}</a>
													) : (
														<span>{link.title}</span>
													)}
												</li>
											))}
										</ul>
									</Accordion>
								))}
							</div>
						)
					}
				</div>
			</div>

			<div
				class='text-md flex flex-wrap items-end justify-between gap-x-6 py-4 tab:border-t tab:border-black'
			>
				<p>
					Copyright © <span>{new Date().getFullYear()}</span>

					Gutter Gladiators. All rights reserved.
				</p>

				<p class='mt-0 text-center sm:text-left'>
					<a href='https://www.mjbramich.dev' class='hover:text-white'> Created by mjbramich</a>
				</p>
			</div>
		</div>
	</div>
</footer>
