---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import Logo from '@/assets/images/gglogo.png';

import Accordion from './Accordion.astro';

interface FooterHeading {
	title: string;
	links: FooterLink[];
}

interface FooterLink {
	title: string;
	href?: string;
	icon?: string;
}

const footerHeadings: FooterHeading[] = [
	{
		title: 'Company',
		links: [
			{ title: 'Home', href: '/' },
			{ title: 'About', href: '/#about' },
			{ title: 'Contact', href: '/contact' }
		]
	},
	{
		title: 'Services',
		links: [
			{ title: 'Gutter Cleaning', href: '/#services' },
			{ title: 'Vacuum Gutter Cleaning', href: '/#services' },
			{ title: 'Solar Panel Cleaning', href: '/#services' }
		]
	},
	{
		title: 'Contact',
		links: [
			{ title: '0400 000 000', href: 'tel:0400000000', icon: 'phone-r' },
			{
				title: 'jackson@guttergladiators.com.au',
				href: 'mailto:jackson@guttergladiators.com.au',
				icon: 'email'
			},
			{ title: 'Devonport, Tas', icon: 'location' }
		]
	}
];
---

<!-- FOOTER -->
<footer class='bg-primary'>
	<div class='mx-auto max-w-7xl px-6 text-default lg:px-8'>
		<div class='pb-4 pt-16'>
			<div class='grid items-center justify-stretch tab:flex tab:justify-between'>
				<div class='flex flex-col items-center tab:max-w-xs tab:items-start'>
					<a href='./index.html' aria-label='home' class=''>
						<Image src={Logo} width={150} alt='logo' />
					</a>
					<p class='mt-4 max-w-md text-center tab:text-start'>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nisi tempora non
						sequi nulla eum aut cupiditate minus perferendis velit!
					</p>

					<div class='mt-4 flex items-center justify-start gap-2'>
						<a
							href='https://www.facebook.com/profile.php?id=100091895966657'
							aria-label='Kangas Facebook'
							class='cursor-pointer hover:text-slate-400'
						>
							<Icon name='facebook' class='text-4xl' />
						</a>

						<a
							href='https://www.instagram.com/kangas_exterior_solutions/?hl=en'
							aria-label='Kangas Instagram'
							class='cursor-pointer hover:text-slate-400'
						>
							<Icon name='instagram' class='text-4xl' />
						</a>
					</div>
				</div>

				<nav class='hidden md:col-span-3 md:col-start-3 md:max-w-none tab:block'>
					<div role='list' class='flex justify-stretch text-default md:gap-8 lg:gap-12 xl:gap-16'>
						{
							footerHeadings.map((heading) => (
								<ul class='flex flex-col last:mb-2   '>
									<li class='mb-4 text-xl font-semibold'>{heading.title}</li>
									{heading.links.map((link) => (
										<li class=' mt-2  items-center gap-1 break-words text-base *:inline-flex '>
											{link.icon && <Icon name={link.icon} class='text-2xl' />}
											{link.href ? (
												<a class='break-words' href={link.href}>
													{link.title}
												</a>
											) : (
												link.title
											)}
										</li>
									))}
								</ul>
							))
						}
					</div>
				</nav>

				<div class='mx-auto mt-2 w-full tab:hidden'>
					{
						(
							<div class='flex w-full flex-col gap-1'>
								{footerHeadings.map((heading) => (
									<Accordion title={heading.title}>
										<ul class='space-y-1 transition-[height]  last:mb-2'>
											{heading.links.map((link) => (
												<li class='text-lg  *:inline-flex'>
													{link.icon && <Icon name={link.icon} class='text-2xl' />}
													{link.href ? (
														<a href={link.href}>{link.title}</a>
													) : (
														<span>{link.title}</span>
													)}
												</li>
											))}
										</ul>
									</Accordion>
								))}
							</div>
						)
					}
				</div>
			</div>

			<div
				class='text-md mb-4 flex flex-wrap items-end justify-between gap-x-6 pt-6 tab:mt-16 tab:border-t tab:border-black'
			>
				<p>
					Copyright © <span>{new Date().getFullYear()}</span>

					Gutter Gladiators. All rights reserved.
				</p>

				<p class='mt-0 text-center sm:text-left'>
					<a href='https://www.mjbramich.dev' class='hover:text-slate-400'> Created by mjbramich</a>
				</p>
			</div>
		</div>
	</div>
</footer>
