---
/**
 * * These are alternating side cards with titles, text, and images
 * Recommend using 2 or 3 cards in a row
 */

// components
import SolarPanelCleaning from '@assets/images/solarpanelcleaning.jpg';
import VacuumGutterCleaning from '@assets/images/vacuum-system.jpg';
import FeatureCard from '@components/FeatureCard.astro';
// images
import image2 from '@images/ute.jpg';
import type { ImageMetadata } from 'astro';

interface ServiceItem {
	image: ImageMetadata; // an imported image
	id: string;
	title: string;
	details: string;
}

// data
const serviceData: ServiceItem[] = [
	{
		image: image2,
		id: 'gutter-cleaning',
		title: 'Gutter Cleaning',
		details: `Looking for professional gutter cleaning near you? Gutter Gladiators is ready to help. We'll keep your gutters free from leaves, twigs, and other debris with our expert gutter cleaning services. Our team uses state-of-the-art equipment to ensure thorough cleaning and prevent water damage to your property.
		`
	},
	{
		image: VacuumGutterCleaning,
		id: 'vacuum-gutter-cleaning',
		title: 'vacuum gutter cleaning',
		details: `Are you in need of vacuum gutter cleaning near you? Experience the next level of gutter cleaning in Tasmania with our advanced exterior cleaning vacuum technology. Our process ensures no mess while removing the most stubborn debris, leaving your gutters pristine and clog-free.`
	},
	{
		image: SolarPanelCleaning,
		id: 'solar-panel-cleaning',
		title: 'Solar Panel Cleaning',
		details: `Maximise the efficiency of your solar panels with regular cleaning from Gutter Gladiators. Our gentle yet effective cleaning methods remove dirt, dust, bird droppings, and other types of debris. This way, your solar panels absorb maximum sunlight and produce optimum energy.`
	}
];
---

<section id='services' class='overflow-hidden bg-white'>
	<div class='container'>
		<div class='mx-auto flex max-w-2xl flex-col sm:items-center sm:justify-center'>
			<h2 class='h1'>Our Services</h2>
			<p class='description mt-6 text-gray-600'>
				At Gutter Gladiators, we specialise in three core services:
			</p>
		</div>
		<div class='mt-10 flex flex-col gap-16 md:mt-16 md:gap-24'>
			{
				serviceData.map((feature, idx) => (
					<FeatureCard
						id={feature.id}
						title={feature.title}
						details={feature.details}
						image={feature.image}
						imageSide={idx % 2 === 0 ? 'right' : 'left'}
						idx={idx}
						fadeEffect={idx % 2 === 0 ? 'fade-left' : 'fade-right'}
						fadeDelay='.2'
					/>
				))
			}
		</div>
	</div>
</section>
