---
import gutter from '@assets/images/gutters-metal-roof.jpg';
import vac from '@assets/images/vacuum-system.jpg';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import ute from '@/assets/images/ute.jpg';

import Button from './Button.astro';
---

<div class='bg-base' id='work'>
	<div class='container'>
		<div class='justify-between md:flex'>
			<h2 class='h1 capitalize tracking-tight md:w-1/2'>Recent Work</h2>
			<p class='description mt-4 md:mt-0 md:w-1/2'>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum, accusantium aut
				necessitatibus cumque iure tempore distinctio corrupti, voluptatibus, quod aperiam nobis
				similique quae quas nam reprehenderit ut ipsa dicta minima.
			</p>
		</div>

		<!--PHOTO SLIDES -->

		<div class='mt-12 grid gap-8 md:grid-cols-3'>
			<img-comparison-slider class='slider-example-focus relative aspect-square drop-shadow-lg'>
				<div slot='first' class='aspect-square size-full'>
					<img src={ute.src} class='aspect-square size-full' alt='todo' />

					<span
						class='captitalize absolute left-2 top-2/4 bg-white px-1 text-base font-semibold text-gray-900 opacity-70'
						>Before</span
					>
				</div>
				<div slot='second' class='aspect-square size-full'>
					<img src={vac.src} class='aspect-square size-full' alt='todo' />

					<span
						class='captitalize absolute right-2 top-2/4 bg-white px-1 text-base font-semibold text-gray-900 opacity-70'
						>After</span
					>
				</div>
			</img-comparison-slider>

			<img-comparison-slider class='slider-example-focus relative aspect-square drop-shadow-lg'>
				<div slot='first' class='aspect-square size-full'>
					<img src={gutter.src} class='aspect-square size-full' alt='todo' />
					<span
						class='captitalize absolute left-2 top-2/4 bg-white px-1 text-base font-semibold text-gray-900 opacity-70'
						>Before</span
					>
				</div>
				<div slot='second' class='aspect-square size-full'>
					<img src={vac.src} class='aspect-square size-full' alt='todo' />
					<span
						class='captitalize absolute right-2 top-2/4 bg-white px-1 text-base font-semibold text-gray-900 opacity-70'
						>After</span
					>
				</div>
			</img-comparison-slider>

			<img-comparison-slider class='slider-example-focus relative aspect-square drop-shadow-lg'>
				<div slot='first' class='aspect-square size-full'>
					<Image src={ute} class='aspect-square size-full' alt='todo' />
					<span
						class='captitalize absolute left-2 top-2/4 bg-white px-1 text-base font-semibold text-gray-900 opacity-70'
						>Before</span
					>
				</div>
				<div slot='second' class='aspect-square size-full'>
					<img src={vac.src} class='aspect-square size-full' alt='todo' />

					<span
						class='captitalize absolute right-2 top-2/4 bg-white px-1 text-base font-semibold text-gray-900 opacity-70'
						>After</span
					>
				</div>
			</img-comparison-slider>
		</div>

		<!-- <div class='mt-12 flex flex-col items-center justify-center gap-4 sm:flex-row'>
			<Button
			text='0400 000 000'
			href='tel:0400000000'
			variant='primary'
			class='h-14 text-lg '
		>
			<Icon name='phone-r' />
		</Button>
		<Button
			text='Get a quote'
			href='#contact'
			variant='outline'
			icon='arrow-r'
			class='h-14  text-lg'
		>
			<Icon name='arrow-r' />
		</Button>
		</div> -->

		<div
			class='mt-12 flex w-full flex-col items-center justify-center gap-4 smMob:flex-row sm:justify-start'
		>
			<Button
				text='0400 000 000'
				href='tel:0400000000'
				variant='primary'
				class='w-full sm:h-14 sm:w-auto sm:text-lg'
			>
				<Icon name='phone-r' />
			</Button>
			<Button
				text='Get a quote'
				href='#contact'
				variant='outline'
				icon='arrow-r'
				class='w-full sm:h-14 sm:w-auto sm:text-lg'
			>
				<Icon name='arrow-r' />
			</Button>
		</div>
	</div>
</div>

<script is:inline src='https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/index.js'></script>
<link
	rel='stylesheet'
	href='https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/styles.css'
/>

<style>
	img-comparison-slider {
		border: 8px solid white;
		--divider-width: 4px;
	}

	.slider-example-focus:focus {
		outline: none;
		box-shadow: 0px 0px 10px 2px orange;
	}
</style>
